html{font-size: 16px;}

html, body, section, .row{
  height: 100%;
  width: 100%;
}

nav a{
  font-size: 1.3rem;
  border-bottom: .11rem solid #67b6e6;
  margin: 0.4rem !important;
  color: #67b6e6 !important;
  text-align: center;
}

.section{
  min-height: 100%;
  width: 100%;
  position: relative;
}

.content-text{
  font-family: 'Raleway', sans-serif;
  font-size: 1.2rem;
}

.content-heading{
  font-size: 2.5rem;
  font-family: Roboto;
}

/* section 1 styling */
.section-1{
  background: url(./img/final.png);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-animation: background 15s ease infinite;
  animation: background 15s ease infinite;
}
@-webkit-keyframes background {
  0% { background-color: #f99; }
  25% { background-color: #9f9; }
  50% { background-color: #99f; }
  100% { background-color: #f99; }
}
#logo_cover_image{
  /* transform: translateX(5%); */
}

/* section 2 styling */
.section-2{
  background: #000;
  background-size: cover;
}
.section-2 .content-heading{color: #fac135;}
.section-2 .content-text{color: #fff;}

/* section 3 styling */
.section-3{
  background: url(./img/fina.png);
  background-size: cover;
}
.section-3 .text-content{
  position: relative;
  top: 75%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  padding: 10rem;
}
.section-3 .content-heading{
  color: #e10019;
}

/* section 4 styling */
.section-4{
  background: url(./img/slide-3/lifgt.png) no-repeat;
  background-position: top;
  background-size: 100%;
}
.section-4 .content-heading{color: green;}
.section-4 .content-text{color: #000;}
.section-4 .text-content-s4{padding: 0 8rem;}
.img-s4{
  position: relative;
  top: 45%;
  transform: translateY(-45%);
  -ms-transform: translateY(-45%);
  -webkit-transform: translateY(-45%);
}

/* section 5 styling */
.section-5{
  background: url(./img/slide-4/flowers.png) no-repeat;
  background-position: bottom;
}
.section-5 .specs-bg{
  max-height: 35%;
  max-width: 100%;
  z-index: -1;
  position: relative;
  top: 0;
}
.section-5 .text-content-s5{
  padding: 0 10rem 0 10rem;
  position: relative;
  top: 20%;
  transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
}
.text-content-s5 .content-heading{
  color: #fa7c04;
}

/* section 6 styling */
.section-6{
  background: url(./img/demo/bg-2.jpg);
  background-size: cover;
}

.text-content, .img, .text-content-s4{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.first-col .text-content, .first-col .img{
  margin-left: auto;
}
.second-col .text-content, .second-col .img{
  margin-right: auto;
}


.scroll-down{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  bottom: 0;
  opacity: 0.4;
}

/* media queries */
@media (max-width: 1200px) {
  .section-1, .section-4{
    background-size: 150%;
  }
}
@media (max-width: 992px) {
  .section-1, .section-4{
    background-size: 180%;
  }
}
@media (max-width: 768px) {
  .section-1{
    background-size: 300%;
  }
  .section-4{
    background-size: 110%;
  }
  .section-4 .img-s4{
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
  }
  .section-4 .text-content-s4, .section-5 .text-content-s5, .section-3 .text-content{
    padding: 1rem;
  }
  nav a{
    font-size: 1rem;
    border-bottom: .06rem solid #67b6e6 !important;
    margin: 0.6rem;
  }
  .content-heading{
    font-size: 1.6rem !important;
  }
  .text-content, .img{
    width: auto;
    display: block;
    margin: auto;
    padding: 2rem;
    text-align: center;
  }
  .first-col .text-content, .first-col .img{
    padding-bottom: 0;
  }
  .second-col .text-content, .second-col .img{
    padding-bottom: 6rem !important;
  }
}
@media (max-width: 576px) {
  .section-1{
    background-size: 500%;
  }
  .section-4{
    background-size: 120%;
  }
}

/* arrow bounce animation */
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
