
/*           General
********************************************/
.wrapper {}
p{
	
    text-align: justify;     
      font-family: Verdana;
}

.img-center {
	display: block;
	margin: auto;
}

.text-white {color: white;}

/*             	Sections
********************************************/
.section {
	width: 100%;
	height: auto;
	margin-top: 40px;
	margin-bottom: 40px;
}

.section-heading{
	font-family: Verdana;
	font-weight: bold;
	font-size: 25px;
	padding-top: 20px;
	margin-bottom: -10px;
}

.awards {
	background: transparent url(images/features-bg.jpg);
	background-size: cover;
}

.faq{}

.faq-question {
	font-size: 18px;
}
.faq-answer {
	font-size: 16px;
	color: grey;
	position: relative;
	left: 10px;
}

#faq-list-1, #faq-list-2 {
	list-style-type: none;
}

.title-line {
	display: block;
	font-size: 20px;
	margin-bottom: 16px;
	font-weight: bolder;
	margin-bottom: 60px;
}

/*             	Cards
********************************************/
.card {
	padding: 50px 0px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
	max-width: 60%;
	margin-bottom: 35px;
}


.card-title {font-weight: 600;}

.card-image-top{padding-bottom: 10px;}

.card-body {}

/*             	Google Map
********************************************/
#map {
 height: 400px;
 width: 90%;
 margin: auto;
}
